body {
  background-color: black;
  color: white;
  text-align: center;
}
img {
  float: left;
  width: 50%;
}
.sidebar {
  width: 30%;
  float: right;
  background: red;
}

ul {
  list-style-type: none;
}
