body {
  background-color: black;
  color: white;
  text-align: center;
}
img {
  position: center;
  width: 30%;
  padding: 5px;
  border: 3px solid white;
}

.sidebar {
  width: 20%;
  float: right;
  background-color: red;
  text-align: center;
  margin: 20px;
  border: 3px solid white;
  padding: 5px;
}

.menubar {
  width: 20%;
  float: left;
  background: #F5C94A;
  margin: 20px;
  border: 3px solid white;
  padding: 5px;
  font-size: 20px;
}

ul {
  list-style-type: none;
}

@media screen and (max-width: 700px) {
  body {
    background-color: white;
    color: black;
    text-align: center;
    margin: auto;
  }

  img {
    width: 100%;
  }

  .sidebar {
    background-color: white;
    color: black;
    float: none;
    text-align: center;
    width: 100%;
    margin: 0%;
  }

  .menubar{
    width: 100%;
    background-color: white;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  body {
    background-color: blue;
    color: black;
    text-align: center;
    margin: auto;
  }

  img {
    width: 100%;
  }

  .sidebar {
    background-color: white;
    color: black;
    float: none;
    text-align: center;
    width: 100%;
    margin: 0%;
  }

  .menubar{
    width: 100%;
    background-color: white;
    text-align: center;
  }
}
