body {
  background-color: black;
  color: white;
  text-align: center;
}
img {
  position: relative;
  width: 50%;
  padding: 5px;
  border: 3px solid white;
}
.sidebar {
  width: 20%;
  float: right;
  background: red;
}

.menubar {
  width: 20%;
  float: left;
  background: #F5C94A;
  margin: 20px;
  font-size: 30px;
}

ul {
  list-style-type: none;
}
